.blog-st {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: var(--heading-color, #1a2b48);
  margin-top: 20px;
  margin-bottom: 0px;
}
.blog-st {
  display: flex;
}
.img-rounds {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -26px;
}
.list-type {
  list-style-type: none !important;
}
a {
  text-decoration: none !important;
}
.blog-st span {
  color: #5e6d77;
}
.blog-st .modtour-span {
  text-transform: capitalize;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: black;
}
ins {
  text-decoration: none;
}
.by {
  color: #5e6d77;
}
.date {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey-color, #5e6d77);
  text-transform: capitalize;
}
.stline-modtour {
  text-transform: capitalize;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
label {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: var(--heading-color, #1a2b48);
}
.sticky-top {
  background: #f7f8fa;
  border-radius: 20px;
  padding: 30px 20px;
  margin-bottom: 30px;
}
.search {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
  border: 0;
  padding: 18px 6px 18px 30px;
  width: 100%;
  display: flex;
  position: relative;
}
.fa-magnifying-glasss {
  height: 50px;
  width: 50px;
  background-color: #3b71fe;
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: -59px;
  position: relative;
}
.fa-magnifying-glass {
  margin-left: auto;
  margin-right: auto;
}
.blog-st h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}
.blog-st {
  display: flex;
}
.img-rounds {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -26px;
}
.list-type {
  list-style-type: none !important;
}
a {
  text-decoration: none !important;
}
.blog-st span {
  color: #5e6d77;
}
.blog-st .modtour-span {
  text-transform: capitalize;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: black;
}
.stline-modtour {
  color: black;
}
ins {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey-color, #5e6d77);
  text-transform: capitalize;
}

.about-p-starts {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--heading-color, #1a2b48);
  margin-bottom: 30px;
}
.about-p-start {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: grey;
}
.images-hero {
  display: flex;
}
.responsive {
  width: 320px;
  height: 300px;
}
.responsive1 {
  width: 500px;
  height: 320px;
  margin-left: 15px;
}
.paragraph-2 p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: grey;
}
.li-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--heading-color, #1a2b48);
  margin-bottom: 30px;
}
.content p {
  color: grey;
  margin-bottom: 9px;
}
.content-last-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: grey;
  font-family: sans-serif;
}
.btn {
  display: flex;
  box-sizing: border-box;
  /* box-shadow: 0 1px 2px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.05); */
}
.btn1 {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--heading-color, #1a2b48);
  margin: 4px;
  display: inline-block;
  border: none !important;
}
.btn1 a {
  color: black;
  padding: 8px 20px;
}
.fa-tag {
  font-size: 22px;
}
.fa-brands {
  font-size: 20px;
  /* background-color: blue; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  margin-left: 10px;
  text-align: center;
}
.comments {
  font-size: 28px;
  line-height: 38px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
}
.a-comments {
  font-size: 28px;
  line-height: 38px;
  font-family: sans-serif;
  font-weight: 700;
}
.comment-p {
  font-size: 16px;
  line-height: 26px;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  display: flex;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.column-img {
  width: 420px;
}
.sidebar-right {
  background: #f7f8fa;
  border-radius: 20px;
  padding: 30px 20px;
  margin-bottom: 30px;
  /* position: fixed; */
  /* width: 100%; */
}
.sidebar-right h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: var(--heading-color, #1a2b48);
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  padding-bottom: 16px;
  width: 100%;
}
.input-search {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
  border: 0;
}
.btn-light {
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--heading-color, #1a2b48);
  margin: 3px;
  display: flex;
}
.input-search:hover {
  border: none;
}
.tag-sidebar {
  background: #f7f8fa;
  padding: 30px -23px;
  margin-bottom: 30px;
  padding: 30px 20px;
  /* position:fixed; */
  /* top: 200px; */
}
.tag-sidebar h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  color: #232323;
}
label {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: var(--heading-color, #1a2b48);

  width: 100%;
}
.btn1-tagsidebar {
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--heading-color, #1a2b48);
  margin: 3px;
  display: flex;
}
.btn-sidebar {
  display: flex;
}
/* Footer Styles */

.footer {
  background-color: #f7f8fa;
  color: #727272;
  padding: 100px 0px 100px 0px;
  margin-top: 30px;
}

.footer h4 {
  font-size: 18px;
  font-weight: 600;
  color: #232323;
}

.footer li {
  list-style: none;
  margin-bottom: 5px;
}

.footer a {
  color: #727272;
}

@media (max-width: 992px) {
  .footer h4 {
    margin-top: 30px;
  }
  .input-group {
    margin-bottom: 30px;
  }
}

.footer-social i {
  font-size: 30px;
  color: blue;
}

.footer-social .pink {
  color: #0d6efd;
}

.footer-social .lightblue {
  color: pink;
}

.footer-social .red {
  color: red;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#news-slider {
  margin-top: 80px;
}
.post-slide {
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: -12px 15px 8px 15px;
  margin-left: -10px;
}
.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}
.post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}
.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(
    -45deg,
    rgba(6, 190, 244, 0.75) 0%,
    rgba(45, 112, 253, 0.6) 100%
  );
  transition: all 0.5s linear;
}
.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}
.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}
.post-slide .post-content {
  background: #fff;
  padding: 2px 20px 40px;
  border-radius: 15px;
}
.post-slide .post-title a {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover {
  text-decoration: none;
  color: #3498db;
}
.post-slide .post-description {
  line-height: 24px;
  color: #808080;
  margin-bottom: 25px;
}
.post-slide .post-date {
  color: #a9a9a9;
  font-size: 14px;
}
.post-slide .post-date i {
  font-size: 20px;
  margin-right: 8px;
  color: #cfdace;
}
.post-slide .read-more {
  padding: 7px 20px;
  float: right;
  font-size: 12px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase;
}
.post-slide .read-more:hover {
  background: #3498db;
  text-decoration: none;
  color: #fff;
}
.owl-controls .owl-buttons {
  margin-top: 20px;
}
.owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: -13%;
  left: 15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: -13%;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}
.owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}
@media only screen and (max-width: 1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}
.owl-carousel .carousel-item {
  background: #fff;
  border: 1px solid #d9d7da;
  text-align: center;
}

.owl-carousel .carousel-item-text {
  padding: 12px;
}

.owl-carousel .carousel-item .item-kicker {
  color: #9a5053;
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  height: 30px;
  margin-bottom: 16px;
  overflow: hidden;
  text-transform: uppercase;
}

.owl-carousel .carousel-item .item-title {
  color: #646464;
  font-size: 1em;
  font-weight: 600;
  height: 38px;
  margin: 0;
  overflow: hidden;
}

.owl-dots {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

.owl-dot.active {
  background: rgba(127, 127, 127, 1);
}

/* Tabs */

.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-tabs > li {
  display: block;
  position: relative;
}

.nav-tabs > li:last-child {
  margin-right: 0;
}

.tab-content {
  display: inline-block;
  width: 100%;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.footer-credit-cards p {
  color: #727272;
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.fa-copyright {
  margin-top: 13px;
  margin-left: 10px;
}
.copyright {
  display: flex;
}
button.btn.btn-light.mx-2 {
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 12px;
}

/* Footer styles ends */

.side-bar {
  position: fixed;
}
