/* Footer Styles */

.footer {
  background-color: #f7f8fa;
  color: #727272;
  padding: 100px 0px 100px 0px;
  margin-top: 30px;
}

.footer h4 {
  font-size: 18px;
  font-weight: 600;
  color: #232323;
}

.footer li {
  list-style: none;
  margin-bottom: 5px;
}

.footer a {
  color: #727272;
}

@media (max-width: 992px) {
  .footer h4 {
    margin-top: 30px;
  }
  .input-group {
    margin-bottom: 30px;
  }
}

.footer-social li {
  border-radius: 50%;
  margin: 0 10px;
  height: 40px;
  padding: 1rem;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: #fff !important;
}

.fa-facebook {
  background-color: #0d6efd;
}


/* Tabs */

.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-tabs > li {
  display: block;
  position: relative;
  text-align: center;
}

.nav-tabs > li:last-child {
  margin-right: 0;
}

.tab-content {
  display: inline-block;
  width: 100%;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.footer-credit-cards p {
  color: #727272;
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.fa-copyright {
  margin-top: 13px;
  margin-left: 10px;
}
.copyright {
  display: flex;
}
.footer-links li  a{
  color: black !important;
}
.col-lg-6 .col-md-3 li a {
  color: black !important;
}

/* Footer styles ends */
